// Typography
$f-primary: 'Roboto', sans-serif;

// Colours
$c-primary:         #4C6BF5;
$c-primary-dark:    #0F0E25;
$c-secondary-rgb:       44, 42, 67;
$c-gray:            #7e7e91;
$c-white-rgb:          255, 255, 255;
$c-black:           #000000;
$c-tertiary:        #FF009C;
$c-background:      #0C0B1D;
$c-text:            #ffffff;
$c-confirm-button:  #5400FF;

$c-green: #C4FF88;
$c-red: #FF1958;
$c-light-purple: #5400FF;
$c-pink: #FF009C;
$c-purple: #A743FF;
$c-blue: #4C6BF5;
$c-medium-blue: #2C2A43;
$c-dark-purple: #2a293f;

$container-size: 68rem;
$large-container-size: 69.8125rem;
$mobile-container-padding: 1.5625rem;
$default-bigger-screen-breakpoint: tablet-landscape-up;
