@import "./helpers/variables";

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--f-primary);
    font-size: 1rem;
    color: var(--c-black);
    background-color: var(--c-white);
}

html, body {
    height: 100%;
}

:global {
    #root {
        height: auto;
    }
}

// Darkmode
$darkmode-enabled: true;

@mixin darkmode-variables {
//   --c-primary:    #{$c-white};
}

:root {
    --f-primary: #{$f-primary};
    --c-primary: #{$c-primary};
    --c-secondary: rgb(#{$c-secondary-rgb});
    --c-secondary-rgb: #{$c-secondary-rgb};
    --c-black: #{$c-black};
    --c-white: rgb(#{$c-white-rgb});
    --c-white-rgb: #{$c-white-rgb};
    --c-text: #{$c-text};
    --c-primary-dark: #{$c-primary-dark};
    --c-tertiary: #{$c-tertiary};
    --c-background: #{$c-background};
    --c-confirm-button: #{$c-confirm-button};

    --c-red: #{$c-red};
    --c-green: #{$c-green};
    --c-gray: #{$c-gray};

    --c-light-purple: #{$c-light-purple};
    --c-pink: #{$c-pink};
    --c-purple: #{$c-purple};
    --c-blue: #{$c-blue};
    --c-medium-blue: #{$c-medium-blue};
    --c-dark-purple: #{$c-dark-purple};
}

html {
    @if $darkmode-enabled {
        @media (prefers-color-scheme: dark) {
            @include darkmode-variables;
        }

        &[data-theme="dark"] {
            @include darkmode-variables;
        }
    }
}
